# SPDX-PackageName: finnix-live-build
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/finnix-live-build
# SPDX-FileCopyrightText: © 2020 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

set default=0
set timeout=30

if [ "${feature_default_font_path}" = "y" ]; then
    font=unicode
else
    font=$prefix/unicode.pf2
fi
loadfont $font

set gfxmode=auto
insmod all_video
if [ "${grub_platform}" = "efi" ]; then
    insmod efi_gop
    insmod efi_uga
fi
insmod gfxterm
insmod png
insmod progress

source /boot/grub/theme.cfg

terminal_output gfxterm
