# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2020-2024 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

build/
.rrpcid/artifacts
live-build_*.dsc
live-build_*.tar.xz
live-build_*.deb
live-build_*.build*
live-build_*.changes
squashfs.sort
