# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2025 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Unit]
Description=Change passwords from command line
ConditionKernelCommandLine=|passwd
ConditionKernelCommandLine=|sshd_password

[Service]
Type=oneshot
ExecStart=/usr/lib/{{ PRODUCT_ID }}/cmdline-passwd

[Install]
WantedBy=multi-user.target
