# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2025 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Unit]
Description=Kernel command line SSH daemon
After=network.target
ConditionKernelCommandLine=sshd

[Service]
Type=oneshot
ExecStart=systemctl --no-block start ssh.service

[Install]
WantedBy=multi-user.target
