# SPDX-PackageName: finnix-live-build
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/finnix-live-build
# SPDX-FileCopyrightText: © 2021 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

[Service]
ExecStart=
ExecStart=-/sbin/agetty --autologin root --noclear --skip-login --keep-baud 115200,38400,9600 pts/%I $TERM
