# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2024 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Service]
ExecStart=
ExecStart=-/sbin/agetty --autologin root --noclear --skip-login --keep-baud 115200,38400,9600 pts/%I $TERM
