# SPDX-PackageName: finnix-live-build
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/finnix-live-build
# SPDX-FileCopyrightText: © 2021 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

[Unit]
ConditionPathExists=/dev/input/mice

[Service]
# Convert from Type=forking to Type=exec, avoiding a 1 second
# blocking sleep by the package's gpm-systemd-wrapper.sh
Type=exec
ExecStart=
ExecStart=/usr/lib/{{ PRODUCT_ID }}/gpm-systemd
PIDFile=
