# SPDX-PackageName: finnix-live-build
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/finnix-live-build
# SPDX-FileCopyrightText: © 2021 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

[Unit]
ConditionPathExists=/dev/input/mice

[Service]
# Directly invoke gpm with exps2, bypassing gpm-systemd-wrapper.sh and
# its 1 second blocking sleep. PIDFile is not tracked because systemd is
# capable of figuring out the correct child.
#
# Note for future yak shaving: gpm(8) says -D doesn't fork and logs to
# stdout/stderr directly, so why do we do so much to work around its
# daemon mode? What the manpage doesn't mention is -D also outputs a
# ton of debug logging (multiple lines whenever the mouse is moved), so
# it's not suitable for general use.
Type=forking
ExecStart=
ExecStart=/usr/sbin/gpm -m /dev/input/mice -t exps2
PIDFile=
