# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2025 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Unit]
Description=Set up network configurations
Before=systemd-networkd.service networking.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/lib/{{ PRODUCT_ID }}/interfaces-convert

[Install]
WantedBy=multi-user.target
