[Unit]
Description=Set up network configurations
Before=systemd-networkd.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/lib/{{ PRODUCT_ID }}/interfaces-convert

[Install]
WantedBy=multi-user.target
