# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: © 2021 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

[Unit]
Description=Shared SSH agent init (%i)
Before=getty.target
After=nss-user-lookup.target

[Service]
ExecStart=/usr/lib/{{ PRODUCT_ID }}/shared-ssh-agent
Type=notify
NotifyAccess=all
User=%i

[Install]
WantedBy=multi-user.target
