# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2024 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Service]
ExecStartPre=
ExecStartPre=/usr/lib/{{ PRODUCT_ID }}/sshd-keygen
ExecStartPre=/usr/sbin/sshd -t
