# SPDX-PackageName: finnix-live-build
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/finnix-live-build
# SPDX-FileCopyrightText: © 2024 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: MPL-2.0

[Unit]
# systemd-binfmt will freeze if running with strace attached to pid 1,
# so disable when running "init.strace=1"
ConditionKernelCommandLine=!init.strace=1
