# SPDX-PackageSummary: finnix-live-build
# SPDX-FileCopyrightText: Copyright (C) 2021-2024 Ryan Finnie
# SPDX-License-Identifier: MPL-2.0

[Install]
WantedBy=
WantedBy=multi-user.target
